body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bc3ec7bc825c4e6ca746c659189cea83.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
