<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/style/header.css}">
</head>

<header>
<a th:href="@{/}"><img th:src="@{/images/logo.png}"/></a>
<nav>
    <ul>
        <li><a th:href="@{/}">Головна</a></li>
        <li><a th:href="@{/announcements}">Події</a></li>
        <li><a th:href="@{/partners}">Партнери</a></li>
        <li><a th:href="@{/sponsors}">Спонсори</a></li>
    </ul>
</nav>
<img th:src="@{/images/logo.png}    " th:href="@{/}"/>
</header>